The Posterity Public License {{{version}}}

Copyright Notice: {{{name}}}

Source Notice: {{{source}}}

This license lets you use and share this software for free, as
long as you credit me when you build with it. Specifically:

If you follow the rules below, you may do everything with
this software that would otherwise infringe my copyright in
it or any patent claim I can license that you would infringe
by using this software as of my latest contribution.

1. If you run or combine this software with other software in
   any larger software system, give me credit.

2. Give me credit for software whose source code you write,
   change, or analyze with this software.

3. Ensure everyone who gets a copy of this software from you,
   in source code or any other form, gets the text of this
   license and the copyright and source notices above.

4. Do not make any legal claim against anyone for infringing
   any patent claim they would infringe by using this software
   alone, accusing this software, with or without changes,
   alone or as part of a larger program.

To give me credit, give users of your software notice that I
contributed to this software, and indirectly to your software,
and make sure that it is easy for users to find when using your
software. For example, if users access your software via the
World Wide Web, put the notice at the bottom of the home page, or
put a link there to a page with notice in its main text content.

**This software comes as is, without any warranty at all. As far
as the law allows, I will not be liable for any damages related
to this software or this license, for any kind of legal claim.**
